<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GrandPy Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <section id="header">
                    <h3>Ici GrandpyBot. <i class="material-icons blue-text right">android</i>Que puis-je faire pour
                        vous?</h3>
                </section>
                <section id="content">
                    <form id="grandpy_form">
                        <input class="left" type="text" name="query" required id="form_input_txt">
                        <button class="btn blue right" type="submit" id="form_submit_btn">
                            Envoyer<i class="material-icons right">send</i>
                        </button>
                    </form>
                </section>
            </div>
        </div>
        <section id="bot_response">

        </section>
    </div>
    <div id="chat_template" class="hide">
        <div class="row">
            <div class="col s11 offset-s1 m10 offset-m2 answer" style="padding: 1em;">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="mapbox">
                        </div>
                        <h6 class="weather-description">
                            <img class="weather-icon">
                        </h6>
                    </div>
                    <div class="col s12 m8">
                        <div class="wiki"></div>
                        <div class="webcam">
                            <h6>Webcam</h6>
                            <img class="webcam-img">
                            <p class="webcam-location"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s9 m6 question">
                <p></p>
            </div>
        </div>
    </section>

    <!--JavaScript at end of body for optimized loading-->
    <script src="{{ url_for('static', filename='js/grandpy.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
    {# <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', () => socket.emit('query', "c'est ou paris?"))
        socket.on('more_data', () => submitData('arrete?'))
    </script> #}
</body>

</html>