<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GrandPy Bot</title>
    <style type='text/css'>
        h1 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2rem;
        }

        .question {
            background: #cccccc30;
            border: 1px solid #ccc;
        }

        .question p {
            margin: 1em 0.5em;
        }

        div.answer {
            background: #4caf5030;
            border: 1px solid #ccc;
            min-height: 250px;
        }

        .mapbox {
            height: 200px;
        }
    </style>
</head>

<body>
    <nav class="blue" role="navigation">
        <a href="#">GrandPyBot</a>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <section id="header">
                    <h1>Bonjour! Je suis GrandPy Bot.</h1>
                    <h3><i class="material-icons blue-text right">android</i>Que puis-je faire pour vous?</h3>
                </section>
                <section id="content">
                    <form id="grandpy_form">
                        <input class="left" type="text" name="query" required id="form_input_txt">
                        <button class="btn blue right" type="submit" id="form_submit_btn">
                            Envoyer<i class="material-icons right">send</i>
                        </button>
                    </form>
                </section>
            </div>
        </div>
        <section id="bot_response">

        </section>
    </div>
    <!--JavaScript at end of body for optimized loading-->
    <script src="/static/js/grandpy.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
</body>

</html>